@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    51 S Maricopa Street Apt. 1102<br />
    Flagstaff, AZ 86001<br />
    <abbr title="Phone">P:</abbr>
    714.388.5757<br />
    <abbr title="Email">E:</abbr>
    aac329@nau.edu
</address>
