@{
    ViewBag.Title = "PracticeTSC";
}

<h2>PracticeTSC</h2>
<h5>This page will be used to create a practice ticket editing system.</h5>
<div class="col-md-12">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        New Ticket
    </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Ticket</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="col-md-12">
                        <label for="Title">Ticket Title</label>
                        <input type="email" class="form-control" placeholder="Enter the Ticket's Title here">
                        <br />
                        <label for="Description">Description</label>
                        <textarea class="form-control" rows="3" placeholder="Describe the problem in detail."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>