@{
    ViewBag.Title = "Programs";
}

<h2>@ViewBag.Title</h2>

<hr />

<script>
    function generateRandomNumber(min, max) {
        document.getElementById("ReturnedNumber").value = Math.floor(Math.random() * (max - min + 1) + min);
    } 
</script>

<h3>Random Number Generator</h3>

    <p> Select a Minimum: <input type="number" id="MinimumData" min="1" max="99" placeholder="1"/></p>
    <p> Select a Maximum: <input type="number" id="MaximumData" min="2" max="100" placeholder="2"/></p>
    <p>Returned Number: <input type="text" id="ReturnedNumber" /></p>
    <input type="submit" id="RNGSubmit" onclick="generateRandomNumber(document.MinimumData.value, document.MaximumData.value)" />
